body{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--background);
   color: #fff;
   font-family: "Poppins", sans-serif;
   margin: 30px;
}

main{
   display: flex;
   justify-content: space-between;
}

.background{
   margin-left: 20px;
}

#back{
   height: 550px;
   width: 690px;
}

.loginForm{
   height: 550px;
   width: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: var(--form-background);
   border-radius: 5px;
}
h2{
   color: var(--text-base);
}