.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
}

.camp{
    margin-bottom: 20px;
}
input{
    height: 40px;
    width: 325px;
    margin-top: 12px;
    font-size: 15px;
    border: 3px solid #ffc632;
    border-radius: 5px;
    color: var(--text-base);
    background-color: transparent;
    text-align: center;
}